:root {
  --color-dark: #1c2321;
  --color-light: #7d98a1;
  --color-accent: #e15554;
}

body {
  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);

  background-color: var(--color-bg);
}

body.dark-mode {
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
}

h1,
h2,
h3 {
  color: var(--color-accent);
}

a,
p,
div,
button {
  color: var(--color-fg);
}

a:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}
